docling
tiktoken
sentence-transformers
chromadb
ollama
langchain-ollama
fastapi
uvicorn
python-multipart
streamlit
requests
ragas==0.4.3
langchain-community==0.3.31
langchain-huggingface
redis
rq
psycopg2-binary 
prometheus-fastapi-instrumentator
python-dotenv